header {
    background-color: #f7931e;
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
}

header img {
    width: 30vw;
    height: auto;
    padding-top: 2vw;
}

nav img {
    width: 50vw;
    height: auto;
}

.area-word img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 25vw;
}

h2 {
    color: #333333;
    font-size: 4vw;
    font-weight: 900;
}

h3 {
    color: #888888;
    font-size: 2vw;
    font-weight: 300;
    margin-bottom: 3vw;
}

p {
    color: #333333;
    font-size: 3vw;
    font-weight: 500;
}


.block {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 3vw;
    margin: 0 auto 5vw auto;

}

.block img {
    width: 100%;
    height: auto;
    margin-bottom: 1vw;

}

.list {
    padding-top: 10vw;
}

.map {
    width: 100%;
    height: 35vw;
    margin-top: 4vw;
}

.link-botton {
    background-color: #f7931e;
    color: white;
    font-weight: 900;
    font-size: 2vw;
    width: 50%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6vw auto 2vw auto;
}